absl-py==0.6.1
appnope==0.1.0
astor==0.7.1
backcall==0.1.0
certifi==2018.8.24
chardet==3.0.4
colorama==0.4.0
cycler==0.10.0
decorator==4.3.0
emitter-io==1.1.0
future==0.17.1
gast==0.2.0
grpcio==1.16.1
h2o==3.22.0.2
h5py==2.8.0
idna==2.6
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.12.1
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.2
numpy==1.15.4
paho-mqtt==1.4.0
pandas==0.23.4
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.6.1
ptyprocess==0.6.0
Pygments==2.2.0
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
requests==2.18.4
requests-toolbelt==0.8.0
scikit-learn==0.20.1
scipy==1.1.0
seaborn==0.9.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
tabulate==0.8.2
tensorboard==1.12.0
tensorflow==2.3.1
termcolor==1.1.0
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.14.1
